<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond $1 !^(index\.php|public|manage)
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  RewriteRule ^(.*)\.svn(.*)$ - [R=403,L]
  RewriteRule ^Application(.*)$ - [R=404,L]
  RewriteRule ^ThinkPHP(.*)$ - [R=404,L]
  RewriteRule ^Data(.*)$ - [R=404,L]
</IfModule>